
# Dependencies

node_modules/
**/node_modules/


# Environment Variables

.env
.env.*
**/.env

# Build Output

dist/
build/
**/dist/
**/build/


# Logs

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
logs/


# IDE / Editors

.vscode/
.idea/
*.swp
*.swo


# OS Files

.DS_Store
Thumbs.db